<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536158095078-t99t5p3vj31d8c1r810iklogktji2gha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536158095078-t99t5p3vj31d8c1r810iklogktji2gha</string>
	<key>API_KEY</key>
	<string>AIzaSyCa11abFHbhbR_2SFC4JXr1eDk6-boc0Fo</string>
	<key>GCM_SENDER_ID</key>
	<string>536158095078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haslek.fluttercurr</string>
	<key>PROJECT_ID</key>
	<string>flutter-curr</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-curr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536158095078:ios:17b4832205684346e3dd27</string>
</dict>
</plist>